:root {
  --jumbotron-padding-y: 3rem;
  scroll-behavior: smooth;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  /* background-color: #fff; */
  /* background-color: #AAD7D9; */
  background-repeat: no-repeat;
  background: linear-gradient(#14c7d0, #000000);
  background-size: cover;
  /* background-image: url(''); */
  /* background-attachment: fixed; */
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
  
}

.jumbotron-heading {
  font-weight: 00;
  color: #FBF9F1;
 
}

.jumbotron .container {
  max-width: 40rem;
  
}

.card-img-top{
  height: 225px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(2, 0, 0, 0.05); }

.headings{
  color: #14c7d0;
}